@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap);

//VAR

$color-1: #58698F;
$color-2: #1E1618;
$color-3: #e64c64;
$color-4: #f2896c;

$white: #fff;
$black: #000;
$grey: #ccc;

$font-primary: 'Lato', sans-serif;

//IMPORT

@import "styles/App";
@import "styles/MessageForm";
@import "styles/MessageList";
@import "styles/UserForm";
@import "styles/UsersList";