*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $white;

    &__Header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid $grey;
    }

    &__Title {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;

        width: 25%;
        font-size: 45px;
        color: $color-1;
        font-family: $font-primary;
        font-weight: 100;
    }

    &__Room {
        display: flex;
        justify-content: center;

        width: 75%;
        font-size: 30px;
        color: $color-3;
        font-family: $font-primary;
        font-weight: 100;
    }

    &__Body {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    &__Message {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

