.Users {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #ccc;

    width: 25%;

    &__Online {
        padding: 10px;
        text-align: center;
        background-color: $color-4;
        font-family: $font-primary;
        text-transform: uppercase;
        color: $white;
    }

    &__List {
        margin: 0;
        padding: 0;
    }

    &__Item {
        list-style: none;
        display: flex;
        font-family: $font-primary;
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid $color-4;
        cursor: pointer;
        transition: .2s all ease-out;

        &:hover,
        &:active {
            background-color: rgba($color-4, .2);
        }

    }
}